* {
	font-size: $base-font-size;
	font-family: $base-font-family;
}

body {
	background-color: $light;
}

.allwrap {
	overflow: hidden;
}

header {
	background-color: $main;
	width: 100%;
	.logo {
		p{
			font-weight: 400;
		}
	}
}

main {
	padding-top: 24px;
}
.sketchwrap_content_bottom{
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	float: left;
	background: $bg;
}
footer{
	width: 100%;
	float: left;
	clear: both;
	background: $main;
	padding-top: 24px;
	padding-bottom: 24px;
	.footer_copy{
		float: right;
		font-size: 14px;
		color: $light;
	}
}