.breadcrumb_wrap {
	width: 100%;
	float: left;
	.moduletable {
		ul.breadcrumb {
			list-style: none;
			margin-left: 0;
			display: block;
			float: left;
			width: 100%;
			padding-top: 6px;
			padding-bottom: 6px;
			li {
				display: inline-block;
				span, a {
					color: $light;
					padding: 0 5px;
					font-size: 12px;
					@media#{$large}{
						font-size: 16px;
					}
				}
				.divider {
					&:before {
						content: $icon-circle-right;
						font-family: $icon;
						font-size: 12px;
					}
				}
				&:first-child {
					a, span{
						padding: 0;
					}
					.icon-location {
						&:before{
							content: $icon-home;
							padding-right: 6px;
							font-size: 12px;
							@media#{$large}{
								font-size: 16px;
							}
						}
					}
				}
				&:nth-child(2){
					span.divider{
						display: none;
					}
				}
			}
		}
	}
}