// Disable Frontend Module Editing
a.btn.jmodedit{
	display: none !important;
}
.moduletable{
	&.logo{
		max-width: 450px;
		@media#{$large}{
			float: left;
		}
		float: right;
	}
	&.search{
		float: right;
	}
}