

div.top_right {
	.moduletable {
		float: right;
		overflow: visible;
		margin-top: 30px;
		&.slidenav1{
			padding: 0;
		}
		ul.nav.menu {
			margin-left: 0;
			margin-bottom: 0;
			li {
				display: inline-block;
				list-style: none;
				position: relative;
				&:last-child {
					border-right: 0;
				}
				&:first-child{
					a{
						border-left: 1px solid $main;
					}
				}
				&.parent{
					a{
						&:after{
							content: '>';
							font-family: monospace;
							position: absolute;
							transform: rotate(90deg);
							left: 50%;
							bottom: -3px;
						}
					}
				}
				a {
					color: darken($light, 20%);
					padding: 13px 9px;
					transition: .6s all ease 0s;
					text-decoration: none;
					display: block;
					font-size: 13px;
					font-weight: bold;
					text-transform: uppercase;
					border-right: 1px solid $main;
					@media#{$xlarge}{
						padding: 12px 12px;
						font-size: 15px;
					}
				}
				&:hover > a{
					color: $light;
					text-shadow: 0 0 4px $link_hover;
				}
				ul.nav-child{
					position: absolute;
					top: 30px;
					left: 0;
					transition: .5s all ease 0s;
					margin-left: 0;
					width: auto;
					overflow: hidden;
					visibility: hidden;
					opacity: 0;
					background: rgba($link,.7);
					z-index: 99;
					min-width: 152px;
					box-shadow: 7px 0px 20px -10px #000;
					li{
						display: block;
						float: none;
						margin-right: 0;
						&:first-child a{
							border-left: 0;
						}
						a{
							font-size: 14px;
							padding: 8px 10px;
							line-height: 14px;
							background: $link;
							text-transform: none;
							letter-spacing: 0;
							font-family: $base-font-family;
							font-weight: normal;
							color: $light;
							border-right: 0;
							&:hover{
								background: $main;
								color: $light;
							}
							&:after{
								content:'';
							}
							&:first-child{
								border-left: 0;
							}
						}
						&.active{
							a{
								background: $main;
								color: $light;
							}
						}
					}
				}
				&:hover{
					ul.nav-child{
						opacity: 1;
						display: block;
						visibility: visible;
						top: 59px;
					}
				}
				&.active{
					a {
						background: $link_hover;
						color: $light;
					}
					ul {
						li{
							a{
							}
						}
					}
				}
			}
		}
	}
}

nav.bottom {
	.moduletable {
		ul.nav {
			margin-left: 0;
			li {
				display: inline;
				list-style: none;
				margin-right: 12px;
				@media#{$xlarge}{
					margin-right: 24px;
				}
				&:last-child{
					margin-right: 0;
				}
				a {
					font-size: 14px;
					color: $light;
				}
			}
		}
	}
}
.slidenav1, .slidenav2, .slidenav3, .slidenav4{
	display: none;
	@media #{$large}{
		display: block;
	}
}
#main-nav {
	display: block;
	float: left;
	font-size: 32px;
	color: $light;
	padding: 6px;
	@media #{$large}{
		display: none;
	}
	&:before{
		content: $icon-menu;
		font-family: $icon;
	}
}