.sketchwrap_slider{
	.sketchslider_pro-wrap{
		.sketchslider_pro{
			margin-bottom: 24px;
			.box.right{
				@media#{$xlarge}{
					bottom: 48px;
					right: 150px;
				}
			}
		}
	}
	ul.flex-direction-nav {
		li {
			a {
				text-align: center;
				width: 42px;
				height: 42px;
				&:before {
					color: $light;
					font-size: 24px;
				}
			}
		}
	}
}