.sketchfood {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 24px;
	.sketchtabs {
		.tabs {
			> ul {
				float: left;
				width: 100%;
				@media#{$medium}{
					width: 25%;
				}
				padding-top: 0;
				li {
					display: block;
					width: 100%;
					clear: both;
					a {
						width: 100%;
						display: block;
						font-size: 14px;
					}
				}
			}
			.tab_wrap {
				float: left;
				width: 100%;
				@media#{$medium}{
					width: 75%;
				}
				h2{
					padding-left: 12px;
					margin-bottom: 12px;
				}
				.cat_description{
					background: transparent;
					padding-top: 0;
					margin-top: 12px;
					margin-bottom: 0;
					.cat_image_wrap{
						float: left;
						width: 100%;
						text-align: center;
						clear: both;
						img{
							max-width: 400px;
						}
					}
				}
				.foodwrap {
					min-height: 0;
					margin-bottom: 2px;
					background-image: none !important;
					&.price_multi .desc-wrap {
						padding-bottom: 6px;
					}
					.desc-wrap {
						padding: 6px;
						position: relative;
						transition: .3s all ease 0s;
						float: left;
						width: 100%;
						&:hover{
							background: #111;
						}
						@media#{$large}{
							padding-right: 75px;
						}
						.title {
							text-align: left;
							float: left;
							display: block;
							padding-right: 24px;
							padding-bottom: 0;
						}
						.zusatzstoffe{
							float: left;
							display: block;
							padding-right: 24px;
						}
						.description{
							float: left;
							display: block;
							overflow: visible;
							clear: both;
							padding-left: 0;
							.price{
								bottom: auto;
								right: 8px;
								max-width: 67px;
								top: 0;
								text-align: right;
							}
						}
						ul.zusatz {
							text-align: center;
							li.zusatz {
								cursor: pointer;
								color: $light;
								background: rgba($link, .0);
								font-weight: bold;
								border-radius: 100%;
								width: 16px;
								height: 16px;
								text-align: center;
								line-height: 17px;
								font-size: 10px;
							}
						}
						.description {
							overflow: hidden;
							span.price {
								position: absolute;
								bottom: 7px;
								margin-left: -8px;
							}
						}
						dl.prices {
							display: block;
							position: absolute;
							right: 10px;
							top: 5px;
							min-width: 116px;
							dt, dd {
								width: 50%;
								display: block;
								color: $light;
								float: left;
								text-align: right;
							}
							dd {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
}